.lightbox {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh; // may be 100%
    color: white;
    background-color: rgba(0,0,0,0.6);
    display: none;
    .close {
        float: right;
        font-size: 2em;
        cursor: pointer;
    }
}

// turn the lightbox on when we have some content to show
.show-lightbox {
    display: block;
}