body {
  font-family: $main-font;
  font-size: $main-font-size;

  background-color: $main-bg-color;

  margin: 0;
  border: 0;

  color: #333;
}

main {
  height: 799px;
}

.user-section {
  background-color: #fee5d6;
}
