nav {
  margin: 0;

  ul {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
  }

  .nav-item {
    margin: 0 10px;
    background-color: pink;

    @include roundCorners(8px);

    a {
      cursor: pointer;
      text-decoration: none;
    }
  }

  :hover {
    a {
      color: #fff;
      background-color: hotpink;
    }
  }
}

.nav-bits {
}
